* {
    font-family: 'Poppins', Helvetica, Arial, sans-serif !important;
    line-height: 1.5;
    color: unset;
    font-size: unset;
    font-style: unset;
    font-weight: unset;
    text-transform: unset;
}

.smpb-container .smpb-container h4, .smpb-container p, .smpb-container li, .smpb-container dl {
    color: unset !important;
    font-size: unset !important;;
    font-style: unset !important;;
    font-weight: unset !important;;
    line-height: unset !important;;
    text-transform: unset !important;;
}
