.product-grid {

  .name-container {
    margin: 10px;

    .name-text {
      font-size: 2rem;
    }
  }

  .start-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    grid-column-gap: 1.2rem;

    .ProductCard {
      min-width: 24rem;

      .TextPlaceholder {
        display: none;
      }
    }
  }
}
