.Loader {
  background-color: unset;
}

.LoaderContainer {
  min-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
}

// override default padding on li

.carousel-root {
  li {
    &:before {
      display: none;
    }
  }

  .carousel.carousel-slider {
    .slide.selected {
      padding-left: 0;
    }

    .control-dots .dot {
      padding: 0;
    }
  }
}
